    <div class="row" id="welcome">
        <div class="col-md-3 col-sm-3 droite">
            <img class="img-fluid" src="ims/icocdt.png" alt="Cahier de texte S2i - option Génie Mécanique Construction"/>
        </div>
        <div class="col-md-4 col-sm-9 gauche">
            <h1>Cahier de texte S2i</h1>
        </div>
        <div class="col-md-5 col-sm-12 gauche">
            <h3 class="rouge">Partie ADMINistrateur</h3>            
            <h4 class="mois"><img src="ims/oggi.png" alt=""/> {{ datedujour }}</h4>
            <p></p>
        </div>
    </div>