            <div class="cal">
                <h1>MENU</h1><br/>
                {% if(puce==1) %}<img src="ims/puce.png" />&nbsp;{% endif %}<a href="/admin"><button class="btnadm">Liste des séances</button></a><p></p>
                {% if(puce==2) %}<img src="ims/puce.png" />&nbsp;{% endif %}<a href="/admin-ajout"><button class="btnadm">Ajouter une séance</button><p></p>
                {% if(puce==0) %}<img src="ims/puce.png" />&nbsp;{% endif %}<a href="/admin-modif"><button class="btnadm">Modifier une séance</button><p></p>
                <a href="/logout"><button class="btnadm">Me déconnecter</button></a>
            </div>
